black
chardet
coverage
flake8
hvac
isort
jsonpath2
mypy
pytest~=6.2
pytest-cov
pytest-sugar
ply
pyhcl
requests-mock
types-PyYAML
types-chardet
types-requests
types-setuptools
types-simplejson
types-six
types-toml
